body{
	font-family: $font;
	background-color: $bg-color;
	font-weight: $fontw;
	color: $color;
}
.wrapper{
	min-height: 100%;
	opacity: 0;
	transition: opacity 0.7s ease 0s;
	&.loaded{
		opacity: 1;
		.header{
			transition: transform 0.7s ease 0.7s;
			transform: translate(0, 0);
		}
	}
}
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 7;
	padding: 0 30px;
	transform: translate(0, -100%);
	background: rgba($color: #000000, $alpha: 0.5);
	.menu{
		display: flex;
		min-height: 50px;
		align-items: center;
		.menu__link{
			margin: 0 30px 0 0;
			color: #fff;
			font-size: 20px;
			transition: color 0.3s ease 0s;
			&.active{
				color: #ddda22;
			}
		}
	}
}
.page{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	.page__wrapper{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		.screen{
			flex: 1 0 100%;
			position: relative;
			.screen__content{
				height: 100%;
				padding: 100px 25px 25px 25px;
				position: relative;
				z-index: 3;
				.screen__title{
					position: relative;
					z-index: 4;
					font-size: 50px;
					color: #fff;
					margin: 0 0 30px 0;
					display: inline-block;
					@media all and (max-width:767px) {
						font-size: 40px;
					}
				}
				.screen__title_bg{
					background: rgba(0,0,0, 0.5);
					padding: 15px;
				}
				.screen__body{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					overflow: hidden;
					.screen__image{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						img{
							object-fit: cover;
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
						}
					}
				}
				.screen__text{
					font-size: 20px;
					line-height: 130%;
					color: #fff;
					@media all and (max-width:767px) {
						font-size: 16px;
					}
					p{
						margin: 0 0 20px 0;
						&:last-child{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.page__pagination{
		position: absolute;
		top: 50%;
		right: 50px;
		transform: translate(0px, -50%);
		display: flex;
		flex-direction: column;
		.page__bullet{
			width: 15px;
			height: 15px;
			cursor: pointer;
			background: rgba($color: #000000, $alpha: 0.5);
			margin: 10px 0;
			border-radius: 50%;
			transition: background-color 0.3s ease 0s;
		}
		.page__bullet_active{
			background: #fff;
		}
	}
	.page__scroll{
		position: absolute;
		top: 0;
		right: 0;
		width: 4px;
		height: 100%;
		background: rgba($color: #000000, $alpha: 0.5);
		.page__drag-scroll{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: rgba($color: #000000, $alpha: 0.8);
			cursor: pointer;
		}
	}
}