body{
	font-family: $font;
	background-color: $bg-color;
	font-weight: $fontw;
	color: $color;
}
.wrapper{
	min-height: 100%;
	display: flex;
}
.title{
	font-size: 30px;
	font-weight: 700;
}
#search_input{
	border: 1px solid #000;
	display: block;
	margin: 10px 0;
	padding: 5px;
}
.hide{
	display: none;
}
.sidebar{
	height: auto;
	min-height: 100vh;
	width: 50px;
	background: #2b2a2a;
	display: flex;
	align-items: center;
	justify-content: center;
	.sidebar__icon{
		cursor: pointer;
		position: relative;
		width: 20px;
		height: 13px;
		&.active{
			.icon{
				top: 0;
				transform: rotate(45deg);
				&::before{
					opacity: 0;
				}
				&::after{
					top: 0;
					transform: rotate(-90deg);
				}
			}
		}
		.icon{
			position: absolute;
			top: 0;
			left: 0;
			display: block;	
			width: 20px;
			height: 2px;
			background: #f3f0f0;
			transition: .3s all;
			&::before,&::after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				width: 20px;
				height: 2px;
				background: #dbd8d8;
				transition: .3s all;
			}
			&::before{
				top: 5px;
			}
			&::after{
				top: 10px;
			}
		}
		
	}
}

.main{
	position: relative;
	width: 100%;
	background: #fcfcfc;
	transition: .3s;
	&.bg{
		background: #635e80;
	}
	.main__content{
		position: absolute;
		top: 0;
		left: 0;
		padding:50px 0 0 50px;
		transition: .3s all;
		will-change: transform;
		&.animation{
			transform: translate3d(80%,80%,0) scale(0.6);
		}
	}
	.carousel{
		margin-top: 20%;
		width: 100%;
		.carousel__container{
			border: 4px solid red;
			margin: 0 auto;
			width: 48%;
			overflow: hidden;
			.carousel__slide{
				display: flex;
				width: 100%;
				height: 250px;
				transition: .3s all ease-in-out;
				img{
					display: block;
					min-width: 100%;
					min-height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
		.buttons{
			display: flex;
			justify-content: center;
			.btn{
				display: block;
				font-size: 36px;
				margin-right: 10px;
				padding: 10px 15px;
				border-radius: 50%;
			}
		}
	}
	.todo{
		width: 30%;
		margin: 30px auto 0 auto;
		.todo__controls{
			display: flex;
			#todo__input{
				width: 100%;
				border: 2px solid #292155;
				padding: 5px;
			}
			.todo__btn{
				background: #000;
				color: #fff;
				padding: 5px 10px;
				margin-left: 15px;
			}
		}	
	}

	.select__wrapper{
		width: 100%;
		margin: 50px 0 150px 0;
		#cities__select,#submitBtn{
			display: block;
			width: 50%;
			margin: 0 auto;
			border: 1px solid #292155;
			padding: 5px 10px;
		}
	}
	.scroll{
		opacity: 0;
		position: fixed;
		right: 50px;
		bottom: 50px;
		transition: .3s all;
		&.show{
			opacity: 1;
		}
	}
	.slider__before_after{
		position: relative;
		width: 380px;
		margin: 30px auto;
		.slider_before{
			position: relative;
			z-index: 1;
			display: flex;
		}
		.slider_after{
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			cursor: pointer;
			&:after{
				content: '';
				width: 4px;
				background: #fff;
				border-left: 1px solid #000;
				border-right: 1px solid #000;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				z-index: 20;
			}
		}
		.img{
			width: 100%;
			height: 250px;
			display: block;
			cursor: pointer;
			object-fit: none;
		}
		#before_btn,#after_btn{
			position: absolute;
			z-index: 30;
			font-size: 16px;
			border: 1px solid #292155;
			padding: 10px 20px;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}
		#before_btn{
			left: -115px;
		}
		#after_btn{
			right: -100px;
		}
		.tr{
			transition: .3s all;
		}
	}

	.validation{
		margin: 100px auto;
		#valid{
			padding: 5px;
			display: block;
			width: 50%;
			margin: 0 auto;
			border: 2px solid red;
		}
		#valid__result{
			color: green;
			font-size: 20px;
			margin: 0 auto;
			display: block;
			width: 50%;
		}
	}
}
